@{
    ViewBag.Title = "من نحن";
}
<div class="row">
    <div class="col l12 col m12 col s12 center-align">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
            <a href="#">الرئيسية</a> <i class="fa fa-angle-left"></i> تطبيق الهاتف
            <div class="page-title"> عن التطبيق </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col l12 col m12 col s12">
        <div class="about z-depth-1">
            <!-- About Image -->
            <img alt="news Image" src="~/images/welcome.png" class="responsive-img">
            <div class="col l8 offset-l2 col m12 col s12">
                <!-- About Detail -->
                <p>لأنك تستحق: كن أكثر فاعلية مع تطبيق خبر..</p>
                <p>تعرف على أحدث الأخبار العربية والعالمية في كل المجالات أولا بأول.</p>
                <p>تميز معنا بالتحليلات والدراسات والبحوث المتخصصة.</p>
                <p>اشترك الآن وتابع اهتماماتك.</p>
                <p>مع خبر.. فعلا هتفرق معاك.</p>
                <a href="https://play.google.com/store/apps/details?id=com.news.khabr" target="_blank">رابط التطبيق</a>
            </div>
            
        </div>
    </div>
</div>
